Checks: 'bugprone-*,
clang-analyzer-*,
readability-*,
performance-*,
portability-*,
cert-*,
misc-*,
concurrency-*,
-readability-identifier-length,
-readability-magic-numbers,
-readability-function-cognitive-complexity,
-bugprone-easily-swappable-parameters,
-cert-dcl37-c,
-cert-dcl51-cpp,
-misc-unused-parameters'
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
